<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MB.Taxi.Web</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container">
                <img class="logoF" src="~/imgs/logo.png" />
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SIMTAXI</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Bookings" asp-action="Index">Booking</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Cars" asp-action="Index">Cars</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Drivers" asp-action="Index">Drivers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Passangers" asp-action="Index">Passangers</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footer">
        <div class="p-5" style="background-color: rgb(247 233 243);">
            <div class="container">
                <div class="text-center">
                    <h4 class="font-weight-bold mb-4">Join Our Newsletter</h4>
                    <h6 class="text-muted mb-4">fewfweefewfwefwefew</h6>
                    <div class="input-group mb-3  w-50 d-inline-flex">
                        <input type="text" class="form-control" placeholder="Email" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <span class="input-group-text bg-warning" id="basic-addon2">Subscribe</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container p-5">
            <div class="row">
                <div class="col-md-3">
                    <span class="d-block mb-1" style="font-size:25px;">SimTaxi</span>
                    <span>Main Street<br /></span>
                    <span>Amman, Sports Circle<br /></span>
                    <span>Jordan</span>
                    <br />
                    <br />
                    <span class="font-weight-bold mr-1">Phono:</span><span>+097326357236</span>
                    <span class="font-weight-bold mr-1">Email:</span><span>+info@example.com</span>
                </div>
                <div class="col-md-3">
                    <span class="mb-1 d-block" style="font-size:21px;">Useful links</span>
                    <ul class=" justify-content-between p-0" style="list-style-type:none;">
                        <div>
                            <i style="font-size:15px;" class="fas fa-chevron-right text-warning mr-1 mb-2"></i><a class="d-inline" href="">Home</a>
                        </div>
                        <div>
                            <i style="font-size:15px;" class="fas fa-chevron-right text-warning mr-1 mb-2"></i><a class="d-inline" href="">About Us</a>
                        </div>
                        <div>
                            <i style="font-size:15px;" class="fas fa-chevron-right text-warning mr-1 mb-2"></i><a class="d-inline" href="">Services</a>
                        </div>
                        <div>
                            <i style="font-size:15px;" class="fas fa-chevron-right text-warning mr-1 mb-2"></i><a class="d-inline" href="">Terms of services</a>
                        </div>
                        <div>
                            <i style="font-size:15px;" class="fas fa-chevron-right text-warning mr-1 mb-2"></i><a class="d-inline" href="">Privacy Policy</a>
                        </div>
                    </ul>
                </div>
                <div class="col-md-3">
                    <span class="mb-1 d-block" style="font-size:21px;">Our Services</span>
                    <ul class=" justify-content-between p-0" style="list-style-type:none;">
                        <div>
                            <i style="font-size:15px;" class="fas fa-chevron-right text-warning mr-1 mb-2"></i><a class="d-inline" href="">Web Development</a>
                        </div>
                        <div>
                            <i style="font-size:15px;" class="fas fa-chevron-right text-warning mr-1 mb-2"></i><a class="d-inline" href="">Graphic Design</a>
                        </div>
                        <div>
                            <i style="font-size:15px;" class="fas fa-chevron-right text-warning mr-1 mb-2"></i><a class="d-inline" href="">Web Design</a>
                        </div>
                        <div>
                            <i style="font-size:15px;" class="fas fa-chevron-right text-warning mr-1 mb-2"></i><a class="d-inline" href="">Product Managment</a>
                        </div>
                        <div>
                            <i style="font-size:15px;" class="fas fa-chevron-right text-warning mr-1 mb-2"></i><a class="d-inline" href="">Markting</a>
                        </div>
                    </ul>
                </div>
                <div class="col-md-3">
                    <span class="mb-1 d-block" style="font-size:21px;">Follow Us</span>
                    <span>caw wqfdw qfwqd qwdq wdwqd <br /></span>
                    <span>dqwd qwdwqdq wdwqdq wdwq</span>
                    <a style="font-size:28px;" href="#"><i class="fab fa-twitter text-warning mr-1"></i></a>
                    <a style="font-size:28px;" href="#"><i class="fab fa-facebook text-warning mr-1"></i></a>
                    <a style="font-size:28px;" href="#"><i class="fab fa-instagram text-warning mr-1"></i></a>
                    <a style="font-size:28px;" href="#"><i class="fab fa-skype text-warning mr-1"></i></a>
                    <a style="font-size:28px;" href="#"><i class="fab fa-google-plus-square text-warning"></i></a>
                </div>
            </div>

        </div>

        <div style="background-color: rgb(252 223 249);">
            <div class="container py-3">
                <div class="justify-content-between"></div>
                <span>© Copyright <span class="font-weight-bold">Mibax.</span> All Right Reseved</span>
                <span class="float-right">Designed by <span class="text-warning">Mibax</span></span>
            </div>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/50199e6078.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
