@model MB.Taxi.Web.Models.Driver.DriverCreateEditVM

@{
    ViewData["Title"] = "AddCar";
}

<h1>Add Car To Driver</h1>

<h4>Driver : @Model.Name</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddCarSave">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CarVMid" class="control-label"></label>
                <select asp-for="CarVMid" asp-items="@Model.GetCarList" class="form-control"></select>
                <span asp-validation-for="CarVMid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Car" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
